/* COLOR */
$bg_grey: #f5f7f8;
$black: #242526;
$grey1: #868686;
$grey2: #aaaaaa;
$greyDark: darken($grey1 ,10%);
$textShadowColor: #fff;


/* FONTS */
$basic: 'Roboto Condensed', sans-serif;
$style: 'Comfortaa', cursive;
$text: Helvetica, sans-serif;

$sidebar-width: 260px;